* {
    padding: 0;
    margin: 0;
}

.main-container {
    height: 96vh;
    width: 99%;
}

.points {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
}